.profile__title-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

@media screen and (max-width:767px) {
    .profile__title-container {
        margin: 0;
        margin-top: 22.25px;
        width: 282px;
    }
}