.profile__edit-button {
    background: black;
    border: 1px solid #FFFFFF;
    min-width: 24px;
    min-height: 24px;
    cursor: pointer;
    margin: 0;
    padding: 0;
    outline: 0;
    transition: .5s;
}

.profile__edit-button:hover {
    opacity: .6;
}