.page {
    max-width: 1280px;
    min-width: 320px;
    margin: 0 auto;
    background-color: black;
    font-family: 'Inter', Arial, Helvetica, sans-serif;
    color: white;
}

@media screen and (min-width:768px) and (max-width:940px) {
    .page {
        padding: 0 50px;
    }
}