.form__button {
    background: #000000;
    border-radius: 2px;
    width: 358px;
    height: 50px;
    margin-top: 48px;
    color: white;
    border: none;
    cursor: pointer;
    transition: .5s;
    font-size: 18px;
    line-height: 22px;
}

.form__button:hover {
    opacity: .8;
}

.form__button::focus {
    outline: none;
}

@media screen and (max-width: 767px) {
    .form__button {
        width: 238px;
        height: 46px;
        font-size: 14px;
        line-height: 17px;
        text-align: center;
        font-weight: normal;
    }
}