.profile {
    padding-top: 36.25px;
    max-width: 880px;
    margin: 0 auto;
    display: flex;
}

@media screen and (max-width:767px) {
    .profile {
        flex-direction: column;
        align-items: center;
        padding: 28.25px 19px 0;
    }
}