.form__item {
    margin-top: 30px;
    width: 100%;
    height: calc(13px + 14px);
    font-size: 14px;
    line-height: 17px;
    outline: none;
    border: none;
    border-bottom: 1px grey solid;
}

.form__item:first-of-type {
    margin-top: 54px;
}

.form__item::focus {
    outline: none;
}