.popup__button {
    position: absolute;
    top: -50px;
    right: -56px;
    background: transparent;
    border: none;
    outline: 0;
    cursor: pointer;
}

.popup__button::focus {
    outline: none;
}

@media screen and (max-width: 767px) {
    .popup__button {
        width: 26px;
        height: 26px;
        top: -41px;
        right: -5px;
    }
}