.profile__subtitle {
    max-width: 400px;
    font-size: 18px;
    line-height: 22px;
    margin: 0;
    margin-top: 16px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

@media screen and (max-width:767px) {
    .profile__subtitle {
        font-size: 14px;
        line-height: 17px;
        text-align: center;
    }
}